:root {
    --rowNum: 9;
    --colNum: 9;
    --box-size: 50px;
    --minefield-width: calc(var(--rowNum) * var(--box-size));
    --minefield-height: calc(var(--colNum) * var(--box-size));
    --minefield-grid-gap: calc(var(--box-size) / 10)
}

.container {
    display: grid;
    grid-template-rows: 1fr var(--minefield-width) 1fr;
    grid-template-columns: 1fr var(--minefield-height) 1fr;
    grid-template-areas: 
        "header header header"
        ". minefield custom-reset"
        "footer footer footer";
        grid-gap: 30px
}

.header {
    grid-area: header;
    text-align: center;
}

.minefield {
    grid-area: minefield;
    display: grid;
    grid-template-rows: repeat(var(--rowNum), auto);
    grid-template-columns: repeat(var(--colNum), auto);
    background-color: darkgray;
    grid-gap: var(--minefield-grid-gap);
}

.footer {
    grid-area: footer;
    justify-self: center;
}

.cell {
    background-color: gray;
}