:root {
    --row-num: 9;
    --col-num: 9;
    --box-size: 50px;
    --minefield-width: calc(var(--row-num) * var(--box-size));
    --minefield-height: calc(var(--col-num) * var(--box-size));
    --minefield-padding: calc(var(--box-size) / 10)
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'retro_computer';
    src: url('../assets/fonts/webfontkit/retro_computer-webfont.woff2') format('woff2'),
         url('../assets/fonts/webfontkit/retro_computer-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

h1, h3, .number, button {
    font-family: 'retro_computer';
}

.container {
    display: grid;
    grid-template-rows: 1fr var(--minefield-width) 1fr;
    grid-template-columns: 1fr var(--minefield-height) 1fr;
    grid-template-areas: 
        "header header header"
        "sidebar minefield custom-reset"
        "footer footer footer";
}

.header {
    grid-area: header;
    text-align: center;
    padding: 20px;
}

.minefield {
    grid-area: minefield;
    display: grid;
    grid-template-rows: repeat(var(--row-num), auto);
    grid-template-columns: repeat(var(--col-num), auto);
    background-color: darkgray;
}

.footer {
    grid-area: footer;
    justify-self: center;
    padding: 20px;
}

.cell {
    width: var(--box-size);
    height: var(--box-size);
    text-align: center;
    font-size: calc(var(--box-size) - 2px);
}

.hidden {
    background: url("../assets/hidden.png");
    background-size: cover;
    image-rendering: pixelated;
}

.flagged {
    background-image: url("../assets/flagged.png");
    background-size: cover;
    image-rendering: pixelated;
}

.mine {
    background: url("../assets/mine.png"),
    url("../assets/number.png");
    background-size: cover;
    image-rendering: pixelated;
}

.number {
    background: lightgray url("../assets/number.png");
    background-size: cover;
    image-rendering: pixelated;
    color: white;
}