:root {
    --row-num: 9;
    --col-num: 9;
    --box-size: 50px;
    --minefield-width: calc(var(--row-num) * var(--box-size));
    --minefield-height: calc(var(--col-num) * var(--box-size));
    --minefield-padding: calc(var(--box-size) / 10)
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr var(--minefield-width) 1fr;
    grid-template-columns: 1fr var(--minefield-height) 1fr;
    grid-template-areas: 
        "header header header"
        "sidebar minefield custom-reset"
        "footer footer footer";
    grid-gap: 30px;
}

.header {
    grid-area: header;
    text-align: center;
    
}

.minefield {
    grid-area: minefield;
    display: grid;
    grid-template-rows: repeat(var(--row-num), auto);
    grid-template-columns: repeat(var(--col-num), auto);
    background-color: darkgray;
    padding: var(--minefield-padding);
}

.footer {
    grid-area: footer;
    justify-self: center;
}

/* .cell:hover {
    background-color: #a9a9a9;
} */

.hidden {
    background: gray url("../assets/hidden.png");
    background-size: cover;
    image-rendering: pixelated;
}

.flagged {
    background: yellow url("../assets/flagged.png");
    background-size: cover;
    image-rendering: pixelated;
}

.mine {
    background: red url("../assets/mine.png");
    background-size: cover;
    image-rendering: pixelated;
}

.number {
    background: lightgray url("../assets/number.png");
    background-size: cover;
    image-rendering: pixelated;
    color: white;
}

/* .number {
    background: lightgray url("../assets/hidden.png");
    background-size: cover;
    image-rendering: pixelated;
    color: white;
    transform: rotate(180deg);
} */